/* RESETLEME */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body,html{
    height: 100%;
}
/* HESAP MAKİNESİ */
table{
    background-color: #333;
    border: 2px solid white;
    border-spacing: 10px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    border-radius: 20px;
}
table .btn{
    width: 80px;
    height: 80px;
    border: 1px solid white;
    color: black;
    border-radius: 100%;
    background-color: grey;
    font-size: 150%;
}
table .btn:hover{
    cursor: pointer;
    background-color: black;
    color: grey;
}
#islem, #gosterge{
    padding: 3%;
    text-align: right;
    background-color: darkgrey;
    border-radius: 7px;
    font-family: monospace;
}
#gosterge{
    height: 43px;
}
#islem{
    height: 50px;
    font-size: 200%;
    line-height: 40px;
}
table .btnCE, table .btnC{
    color: rgb(216, 12, 12);
}
table .esit{
    background-color: green;
    border-radius: 20px;
    font-size: 40px;
}
table .opr{
    color: green;
    font-size: 40px;
}
table .sifir{
    border-radius: 20px;
}
table .btnCE:hover,
table .btnC:hover{
    background-color: red;
    color: black;
}